#hotel {
    width: 75px;
    height: 75px;
}

#Home {
width: 640px;
height: 656px;
left: 640px;
border-radius: 0px, 50px, 0px, 0px;
}

#Facebook, #instagram, #lkd {
    width: 100px;
    height: 100px;
}

#yt {
    height: 80px;
    width: 100px;
    margin-top: 17px;
}

.navbar {
    background-color: whitesmoke; }

.navbar-brand {
    color:#bf9f45;
    font-family: 'Libre Baskerville', serif;
}

.nav-link {
    color: black;
    font-family: 'Oswald', sans-serif;
}

.btn-success {
    margin-left: 05px;
}

.login-button {
align-items: baseline;
padding:0px 25px 0px 700px;
}

.jumbotron {
    background-color: #dfdcd3;
    width: 100% ;
    border-radius: 0;
    
}

.h1, h1{
    font-size: 64px;
}


#changetext {
    color: #24AB70;;
    font-weight: 900;
    font-style:oblique;
}

#changetext::after {
    content: "'";
    animation-name: changetexteffect;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

@keyframes changetexteffect {
    0% { content: "BANGALORE";}
    25% { content: "MUMBAI";}
    50% { content: "DELHI";}
    75% { content: "JAIPUR";}
    100% { content: "GOA";}
}

#rating #Star {
    color: gold;
    font-size: 25px;
}

#rating .card img {
    margin-bottom: 20px;
}

#rating .card {
    height: 250px;
    border-radius: 15px;
}

#add-btn img {
    width:  35px;
    float: right;

}

#product #Star {
    color: gold;
    font-size: 25px;
    margin: 20px 0px 20px 0px ;
    text-align: center;
}

#product .card {
    border-radius: 20px;
}

#product #hotel {
    height: 100%;
    width: 100%;
}

#product #overlay img {
    background-color:#3187af65;
    padding: 8px;
}

#overlay {
    width: 40px;
    position: absolute;
    top : 20px;
    opacity: 0;
    transition: opacity 0.4s;
}

#product .card:hover #overlay {
    opacity: 1.0;
}